include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft cmsplugin_redirect
global-exclude *.orig *.pyc *.log *.swp *.swo
prune cmsplugin_redirect/tests/coverage
prune cmsplugin_redirect/.ropeproject
